In [17]:
import os
import pandas as pd
import plotly.express as px
import plotly.offline as pyo
df = pd.read_csv("gdp.csv")

In [30]:
lst = ['ITA','IND','USA','CHN']
dfs=[]

for i in lst: 
    
    dfs.append(df[df['Country Code']==i])
    
    df_pr=pd.concat(dfs,axis = 0)

In [31]:
df_pr

     Country Name Country Code  Year         Value
6412        Italy          ITA  1960  4.038529e+10
6413        Italy          ITA  1961  4.484276e+10
6414        Italy          ITA  1962  5.038389e+10
6415        Italy          ITA  1963  5.771074e+10
6416        Italy          ITA  1964  6.317542e+10
...           ...          ...   ...           ...
4098        China          CHN  2012  8.560547e+12
4099        China          CHN  2013  9.607224e+12
4100        China          CHN  2014  1.048237e+13
4101        China          CHN  2015  1.106467e+13
4102        China          CHN  2016  1.119915e+13

[228 rows x 4 columns]

In [40]:

fig = px.line(df_pr,
       x = 'Year',
       y = 'Value',
       title = 'GDP analysis of all the country ',
       color = 'Country Name',
       )
pyo.plot(fig,filename = "lst.html")

'lst.html'

In [33]:
" ".join(lst)

'ITA IND USA CHN'

In [34]:
"-".join(lst)

'ITA-IND-USA-CHN'